<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        <label for="adminNumber">Admin ID:</label>
        <input type="text" id="adminNumber" name="adminNumber" required><br><br>
        <label for="adminPassword">Password:</label>
        <input type="password" id="adminPassword" name="adminPassword" required><br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>
